@model IEnumerable<BeerOverflow.Web.Models.UserViewModel>

<link href="~/css/PagedList.css" rel="stylesheet" type="text/css" />
<h3>
    Admin panel
</h3>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Baned users
            </th>
            <th>
                Unban
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody id="myTable">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a asp-action="UnbanUser" asp-controller="User" asp-route-id="@item.Id" role="button" class="btn btn-warning">Unban User</a>
                </td>
                <td>
                    <a class="btn btn-warning" asp-controller="User" asp-action="Delete" asp-route-id="@item.Id">Delete User</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-controller="User" asp-action="GetAllBannedUsers">Back to users</a>
</div>

