@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/Home_Page_Search_Button.css" rel="stylesheet" type="text/css" />
<partial name="_DesignBlock" />
<partial name="_Trusted_By" />
<br />
<partial name="_Video" />
 
<div class="card-columns">

    <div class="card">
        <img class="card-img-top" src="~/img/shutterstock_647433211.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Corona Extra</h5>
            <p class="card-text">
                Corona Extra is a pale lager produced by Cervecería Modelo in Mexico and owned by AB InBev in Belgium. It is one of the top-selling beers worldwide.
            </p>
            <p class="card-text">
                <a href="https://en.wikipedia.org/wiki/Corona_(beer)" class="btn btn-outline-warning">Click to see more</a>
            </p>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top" src="~/img/reviews.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">How to Review Beer</h5>
            <p class="card-text">
            <p>1. Be yourself!</p>
            <p>2. Think about the style</p>
            <p>3. Check your senses</p>
            <p>4. Don’t drink from the bottle</p>
            <p>5. Use a beer glass</p>
            <p class="card-text">
                <a href="http://www.beerpubs.com/i154,10%20Tips%20for%20Reviewing%20Beer" class="btn btn-outline-warning">Click to see more</a>
            </p>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top" src="~/img/tuborga5a1_b.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Tuborg</h5>
            <p class="card-text">
                Tuborg Green has been extremely successful in Eastern Europe, especially in Russia, where the brand has seen double digit growth for a number of years and is now the largest premium international beer in the country.
            </p>
            <p class="card-text">
                <a href="https://en.wikipedia.org/wiki/Tuborg_Brewery" class="btn btn-outline-warning">Click to see more</a>
            </p>
        </div>
    </div>
</div>





