<style>

.animate {
  margin: 50px auto;
  width: 800px;
  height: 200px;
}

    .social-bar-section-2 {
        background-image: url(https://images.squarespace-cdn.com/content/v1/5147678ce4b031aaae35cb81/1470299465576-D7GEPE1JLWJEWLZTP2GT/ke17ZwdGBToddI8pDm48kHUzxcQwd2DgHE3KO6VtZClZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZamWLI2zvYWH8K3-s_4yszcp2ryTI0HqTOaaUohrI8PI1qPlfs3HYKbanWcQQqBRZmpTq4czOe8Acgsq9n8pASg/International+Beer+Day);
        background-position: 0 0;
        background-repeat: repeat-y;
        width: 100%;
        height: 100%;
        animation: animatedBackground2 40s linear infinite;
    }
@@keyframes animatedBackground2 {
	from { background-position: 100% 0; }
	to { background-position: 0 100%; }
}
</style>

<div class="animate">
    <div class="social-bar-section-2"></div>
</div>

