<div class="container my-1 py-3 z-depth-2">

    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center dark-grey-text">

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-md-6 mb-4 mb-md-0">

                <h3 class="font-weight-bold">High Quality & Perfect Taste</h3>
                <br />
                <p class="text-muted">
                    Now is the best time to be a beer lover. We are proud to be part of the creative and vibrant community that
                    independent craft brewers have created, and we want to help that community grow while keeping it strong. We know that
                    helping beer lovers further learn about craft beer involves more than providing you with a beer style definition, 
                    and that’s why we bring you stories – we want to connect you with the people and breweries behind the beer.
                </p>
            
                <hr class="my-5">

                <p class="font-weight-bold">Follow us on:</p>

                <!--Facebook-->
                <a href="https://www.facebook.com/" class="mx-1" role="button"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com" class="mx-1" role="button"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/" class="mx-1" role="button"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://www.instagram.com/" class="mx-1" role="button"><i class="fab fa-instagram"></i></a>
                <a href="https://www.pinterest.com/" class="mx-1" role="button"><i class="fab fa-pinterest"></i></a>
                <a href="https://www.youtube.com/" class="mx-1" role="button"><i class="fab fa-youtube"></i></a>
                <a href="https://gitlab.com/peterstoyanov/beeroverflow" class="mx-1" role="button"><i class="fab fa-github"></i></a>
                <a href="https://stackoverflow.com/" class="mx-1" role="button"><i class="fab fa-stack-overflow"></i></a>

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-5 mb-4 mb-md-0">

                <img src="~/img/Tuborg_bottle.png" class="img-fluid" alt="" height="200" width="200">

            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </section>
    <!--Section: Content-->
</div>