
<div class="main">

    <!-- Actual search box -->
    <div class="form-group has-search">
        <span class="fa fa-search fa-lg form-control-feedback"></span>
        <input type="text" class="form-control" placeholder="Find Your Beer">
    </div>

    <!-- Another variation with a button -->
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search this blog">
        <div class="input-group-append">
            <button class="btn btn-secondary" type="button">
                <i class="fa fa-search fa-lg" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>
